<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8" style="padding-top: 45px;padding-left: 45px;">
    <div class="_1rwo5 ">

      <div class="F8Sye">
        <div class="_2YrH-">Select delivery address</div>
      </div>

      <div class="-brc1">
        <div class="_2nd--" *ngFor="let data of location_Details; let i = index;">
          <div class="_3p8Mf" >
            <div class="WtfuC"><img src="../../../assets/img/location-1.PNG"></div>
            <div>
              <div class="_2xgU6">{{data.door_no}}</div>
              <div class="KYAcN">{{data.full_address}}</div>
              <div class="_3w1k-">{{data.cust_landmark}}</div>
              <div class="_3w1k-">{{data.street}}</div>
              <div class="_3dNWs" (click)="selectAddress(data)">Deliver Here</div>
            </div>
            <i class="fas fa-user-edit" style="padding-left:35px;" 
            (click)="editAddressDetailes(data)"></i>
            <i class="fas fa-trash-alt" style="padding-left:25px;"
            (click)="deletAddressData(data)"></i>
          </div>
        </div>
        <div class="-brc1">
          <div class="_2nd--">
            <div class="_3p8Mf Ldi91">
              <div class="WtfuC _3mJDe">
                <img src="../../../assets/img/location.PNG">
                <!-- <div class="_2_VIS">+</div> -->
              </div>
              <div>
                <div class="_2xgU6">Add new Address 
                </div>
                <!-- <div class="KYAcN">121, 321rd Main Rd, fff, Mysuru, Karnataka 570012, India
                                </div> -->
                <div class="_3dNWs _1AS3P" (click)="addNewAdrs()">Add New</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="container" style="padding-top: 45px;padding-right: 45px;" *ngIf="flag">
      <div class="_2sMsA">
        <div class="F8Sye">
          <div class="_2YrH-">Add New Address</div>
        </div>
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Door No *</label>
                <input type="text" formControlName="doorNumber" class="form-control" />
                <span class="text-danger"
                *ngIf="registerForm.controls['doorNumber'].hasError('required')&&(registerForm.controls['doorNumber'].dirty || registerForm.controls['doorNumber'].touched)">This
                field is required</span>

                <!-- <div *ngIf="submitted && f.DoorNo.errors" class="invalid-feedback">
                    <div *ngIf="f.DoorNo.errors.required">Door No is required</div>
  
                  </div> -->
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Street *</label>
                <input type="text" formControlName="street" class="form-control" />
                <span class="text-danger"
                *ngIf="registerForm.controls['street'].hasError('required')&&(registerForm.controls['street'].dirty || registerForm.controls['street'].touched)">This
                field is required</span>

                <!-- <div *ngIf="submitted && f.Street.errors" class="invalid-feedback">
                    <div *ngIf="f.Street.errors.required">Street is required</div>
                  </div> -->
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Landmark</label>
            <input type="text" formControlName="landMark" class="form-control" />
            <!-- <span class="text-danger"
            *ngIf="registerForm.controls['landMark'].hasError('required')&&(registerForm.controls['landMark'].dirty || registerForm.controls['landMark'].touched)">This
            field is required</span> -->

            <!-- <div *ngIf="submitted && f.Landmark.errors" class="invalid-feedback">
                <div *ngIf="f.Landmark.errors.required">Landmark is required</div>
              </div> -->
          </div>

          <div class="form-group">
            <label>Full Address *</label>
            <input type="text" formControlName="fullAddress" class="form-control" />
            <!-- <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                <div *ngIf="f.Address.errors.required">Full Address is required</div>
                <div *ngIf="f.Address.errors.minlength">Password must be at least 12 characters</div>
              </div> -->
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">


                <label>Choose City *</label>

                <select class="custom-select" formControlName="city" (change)="setArea()">
                  <option value="">Choose your city</option>
                  <option *ngFor="let city of City" value={{city.city_id}}>{{city.city_name}}</option>
                </select>
                <span class="text-danger"
                *ngIf="registerForm.controls['city'].hasError('required')&&(registerForm.controls['city'].dirty || registerForm.controls['city'].touched)">This
                field is required</span>


                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
  
                    <div *ngIf="f.password.errors.required">Choose City is required</div>
  
                  </div> -->

              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Search Area *</label>

                <select class="custom-select" formControlName="area">
                  <option value="">Choose your Area</option>
                  <option *ngFor="let ciity of SearchCity" value={{ciity.area_id}}>{{ciity.area_name}}</option>
                </select>
                <span class="text-danger"
                *ngIf="registerForm.controls['area'].hasError('required')&&(registerForm.controls['area'].dirty || registerForm.controls['area'].touched)">This
                field is required</span>

              </div>
            </div>
          </div>
        </form>

        <div class="_2i256" *ngIf="showMainContent">
          <div class="_1dzL9"><span class="fa fa-home"></span>
            <div class="sf8jl">Home</div>
          </div>
          <div class="_1dzL9"><span class="fa fa-briefcase"></span>
            <div class="sf8jl">Work</div>
          </div>
          <div class="_1dzL9" (click)="ShowHideButton()" ><span class="fa fa-map-marker"></span>
            <div class="sf8jl" >Other</div>
          </div>
          <div class="_1qe1S">
            <div class="_3Um38 _3vwW5"><input class="_381fS _1oTLG _2VYMY" type="text" name="annotation" id="annotation"
                tabindex="1" placeholder="Friends home" maxlength="20" value="">
              <div class="_2EeI1 _26LFr"></div><label class="_1Cvlf _2tL9P" for="annotation"></label>
            </div>
          </div>
        </div>
        <div class="_2i256" *ngIf="!showMainContent">
          <div class="_1dzL9 _2I0ZJ"  (click)="ShowHideButton()"><span class="_3Ey3V icon-markerDark"></span>
            <div class="sf8jl">Other</div>
          </div>
          <div class="_1qe1S _1I3pI">
            <div class="_3Um38 _3vwW5">
              <input class="_381fS _1oTLG _2VYMY" type="text" name="annotation" id="annotation" tabindex="1"
                placeholder="Dad’s home, my man cave" maxlength="20" value="">
              <!-- <div class="_2EeI1 _26LFr"></div><label class="_1Cvlf _2tL9P" for="annotation"></label> -->
            </div>
            <!-- <div class="_3RRl6">Cancel</div> -->
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button *ngIf="editFlag == false" class="newAddress" (click)="onSubmit()">Add New Address</button>
            <button *ngIf="editFlag == true" class="newAddress" (click)="updateAddressData()">Update Address</button>
          </div>
          <div class="col-md-6">
            <button class="cancel" (click)="addNewAdrs()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>