._1rwo5 {
    position: relative;
    margin-left: 25px;
    background: #fff;
    margin-bottom: 20px;
    padding: 35px 40px 39px;
 }
 
 ._1rtRz, .F8Sye {
    letter-spacing: -.3px;
 }
 .F8Sye {
    font-size: 32px;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
 }
 
 ._2YrH- {
    margin-right: 25px;
 }
 
 ._38EYL {
    display: block;
    font-size: 16px;
    color: #7e808c;
    font-weight: 400;
    margin-bottom: 36px;
    margin-top: -30px;
 }
 
 .-brc1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
 }
 
 ._2nd-- {
    position: relative;
    width: 324px;
    margin: 0 25px 25px 0;
    cursor: pointer;
 }
 
 ._3p8Mf {
    padding: 23px 30px 29px 57px;
    border: 1px solid #e9e9eb;
    border-style: dashed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
 }
 
 ._3mJDe {
    font-size: 19px;
 }
 
 
 [class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }
 
 ._2xgU6 {
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: 500;
    color: #282c3f;
    line-height: 1.18;
    text-transform: capitalize;
 }
 
 .KYAcN {
    font-size: 13px;
    color: #93959f;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 16px;
    height: 35px;
    overflow: hidden;
 }
 
 ._3w1k- {
    font-size: 13px;
    color: #282c3f;
    font-weight: 500;
    margin: 10px 0 17px;
 }
 
 ._3dNWs {
    padding: 9px 0;
    color: #fff;
    text-transform: uppercase;
    background: #60b246;
    border: 0;
    cursor: pointer;
    width: 130px;
    height: 34px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    letter-spacing: .3px;
    position: relative;
 }
 
 .-brc1>:nth-child(2n) {
    margin-right: 0;
 }
 
 .WtfuC {
    position: absolute;
    top: 26px;
    left: 30px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 18px;
    color: #3d4152;
 }
 
 ._2_VIS {
    position: absolute;
    background: #60b246;
    width: 12px;
    height: 12px;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    right: -4px;
    top: -5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
 }
 
 ._1AS3P {
    border: 1px solid #60b246;
    color: #60b246;
    background: #fff;
    margin-top: 30px;
 }
 
 .Ldi91 {
    border-style: dashed;
    height: 150px;
 }
 
 ._26MRf {
    border-color: #bebfc5;
 }
 ._250uQ {
    position: absolute;
    border-left: 1px dashed #282c3f;
    top: 35px;
    left: -10px;
    bottom: -57px;
 }
 
 ._2b4pY {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #282c3f;
    box-shadow: 0 3px 5px 0 rgba(40,44,63,.4);
    top: 34px;
    left: -30px;
 }
 
 ._1rwo5:last-child {
    margin-bottom: 0;
 }
 
 
 ._1IPhI, ._34Whq {
    cursor: pointer;
 }
 
 
 .C2lmo {
    display: table-cell;
    vertical-align: top;
 }
 ._3za0v {
    width: 15px;
 }
 
 ._1eJQw {
    border-color: #60b246;
    background-color: #60b246;
    color: #fff;
 }
 ._2C3aj {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(40,44,63,.3);
    text-align: center;
    color: #bebfc5;
    background-color: #fff;
    transition: all .3s ease;
    position: relative;
 }
 
 ._1ZSwS {
    font-size: 11px;
    position: absolute;
    top: 2px;
    line-height: 15px;
    left: 4px;
    font-weight: 600;
 }
 
 ._2zPJt {
    margin-top: 23px;
    position: relative;
 }
 
 ._1IPhI {
    position: absolute;
    top: -65px;
    right: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #fc8019;
    line-height: 2.14;
 }
 
 ._2kejs {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
    color: #282c3f;
    text-transform: capitalize;
 }
 
 ._1QRRt {
    color: #93959f;
    max-width: 480px;
    line-height: 18px;
 }
 
 ._1__JV {
    color: #282c3f;
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
 }
 
 ._1q8J4 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
 }
 
 .icon-location:before {
    content: "\E911";
 }
 
 ._2sMsA {
   background-color: #fff;
   width: 366px;
   // position: relative;
   position: -webkit-sticky;
   position: sticky;
   padding: 15px;
   // height: calc(100vh - 130px);
   top: 111px;
}

.newAddress{
   background-color:#60b246 !important;
   color: white !important;
   padding: 14px 20px !important;    
    border: none !important;
    cursor: pointer !important;
    width: 100% !important;    
  }


  .cancel{
   background-color:#f14838eb !important;
   color: white !important;
   padding: 14px 20px !important;    
    border: none !important;
    cursor: pointer !important;
    width: 100% !important;    
  }

  
  