<!-- Header Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-white pt-0 pb-0 mt-0 mb-0 shadow-sm" 
style="margin:0px 0;background-color: #f8f9fa !important;">
  <a class="navbar-brand" routerLink="/empire/Landing" ><img src="../../../assets/img/empire.png"></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pt-md-0 pb-md-0" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" href="javascript:void(0)" style="font-size: 18px; color: black;">EMPIRE</a> -->
      </li>
      <li class="nav-item">    
      </li>

    </ul>
    <form class="form-inline my-0 my-lg-0 mnuBtns">
      <a><button class="btn btn-warning btn-xs">FAQ's</button> </a>
      <a> <i class="material-icons iconsStyle" matBadge="11"  matBadgePosition="above after" matBadgeColor="warn">notification_important </i>
          
           </a>
      <a><i class="material-icons iconsStyle" >account_circle</i></a>
      <a (click)="logout()"> <i class="material-icons iconsStyle">power_settings_new</i></a>

    </form>
  </div>
</nav>