<div col-lg-12>
  <section class="margin-b-30">
    <carousel>
      <slide>
        <img src="../../../assets/img/1.PNG" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
      <slide>
        <img src="../../../assets/img/2.PNG" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
      <slide>
        <img src="../../../assets/img/3.PNG" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
      <slide>
        <img src="../../../assets/img/4.PNG" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
    </carousel>
  </section>
  <br>
  <br>
  <h1 class="center">HOW IT WORKS</h1>
  <br>
  <div class="row container">
    <div class="col-sm-4 center">
      <img src="http://studiohash.co.in/projects/lochi/assets/frontend/images/RES-01-01.png" width="50%">
      <h4 class="center">Select Restaurants</h4>
    </div>
    <div class="col-sm-4 center">
      <img src="http://studiohash.co.in/projects/lochi/assets/frontend/images/RES-02-01.png" width="50%">
      <h4 class="center">Select Menu</h4>
    </div>
    <div class="col-sm-4 center">
      <img src="http://studiohash.co.in/projects/lochi/assets/frontend/images/RES-03-01.png" width="50%">
      <h4 class="center">Door Delivery</h4>
    </div>
  </div>


  <h1 class="center">CHOOSE OUR FOOD</h1>
  <div class="row center container">
    <div class="col-sm-4 col center" (click)="cardFilter('Empire')">
      <img src="../../../assets/img/empire-hotel.png" class="zoom" width="100%">
      <div class="clearfix"></div><br>
    </div>
    <div class="col-sm-4 center" (click)="cardFilter('Karama')">
      <img src="../../../assets/img/karama.png" class="zoom" width="100%">
      <div class="clearfix"></div><br>
    </div>
    <div class="col-sm-4 col center" (click)="cardFilter('VegetArea')">
      <img src="../../../assets/img/vegetarea.png" class="zoom" width="100%">
      <div class="clearfix"></div><br>
    </div>
  </div>

  <div class="row center container">
    <div class="col-xs-12 col-sm-12 col-md-6 single-restaurant" style="display: block;"  *ngFor="let data of cardDetails; let i = index;" >
      <div class="restaurant-wrap" (click)="getMenu(data)" *ngIf="cardDetails">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
            <a class="restaurant-logo" href="#"> <img class="img-rounded"
                src={{data.img}}
                alt="Restaurant logo"> </a>
          </div>
          <!--end:col -->
          <div class="col-xs-12 col-sm-9 col-md-12 col-lg-9">
            <h5>{{data.brand_name}}<span class="small_loc">({{data.outlet_fullname}})</span></h5>
            <span class="bottom-part">{{data.address}}</span>
            <!-- <div class="bottom-part">
              <a href="http://studiohash.co.in/projects/lochi/restaurant?r=1" class="btn theme-btn btn-sm">VIEW MENU</a>
            </div> -->
          </div>
          <!-- end:col -->
        </div>
        <!-- end:row -->
      </div>
      
    </div>
    
  </div>
  <div class="outLetNotFound" *ngIf="cardDetails.length == 0">
    <h2>No Outlet Found</h2>
    <img src="../../../assets/img/no-outlet.png" style="width: 15%;" >
  </div>
  
</div>