<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <h3>Register</h3>
                <p>Create your own account</p>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="new-password">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Customer Name *</label>
                                <input type="text" formControlName="name" class="form-control" />
                                <span class="text-danger"
                                    *ngIf="registerForm.controls['name'].hasError('required')&&(registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">This
                                    field is required</span>



                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mobile No *</label>
                                <input type="text" pattern="\d*" formControlName="mobileNumber" maxlength="12" class="form-control" />
                                <span class="text-danger"
                                    *ngIf="registerForm.controls['mobileNumber'].hasError('required')&&(registerForm.controls['mobileNumber'].dirty || registerForm.controls['mobileNumber'].touched)">This
                                    field is required</span>
                                <!-- <span class="text-danger"
                                    *ngIf="registerForm.controls['mobileNumber'].errors.minLength">Mobile No must be at least 10 numbers</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email Address *</label>
                                <input type="text" formControlName="emailId" class="form-control" autocomplete="new-password" />

                                <span class="text-danger"
                                    *ngIf="registerForm.controls['emailId'].hasError('required')&&(registerForm.controls['emailId'].dirty || registerForm.controls['emailId'].touched)">This
                                    field is required</span>



                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password *</label>
                                <input type="password" formControlName="password" class="form-control" autocomplete="new-password"/>
                                <span class="text-danger"
                                    *ngIf="registerForm.controls['password'].hasError('required')&&(registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">This
                                    field is required</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Door No *</label>
                                <input type="text" formControlName="doorNumber" class="form-control" />
                                <span class="text-danger"
                                    *ngIf="registerForm.controls['doorNumber'].hasError('required')&&(registerForm.controls['doorNumber'].dirty || registerForm.controls['doorNumber'].touched)">This
                                    field is required</span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Street *</label>
                                <input type="text" formControlName="street" class="form-control" />
                                <span class="text-danger"
                                    *ngIf="registerForm.controls['street'].hasError('required')&&(registerForm.controls['street'].dirty || registerForm.controls['street'].touched)">This
                                    field is required</span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Landmark *</label>
                        <input type="text" formControlName="landMark" class="form-control" />
                        <span class="text-danger"
                            *ngIf="registerForm.controls['landMark'].hasError('required')&&(registerForm.controls['landMark'].dirty || registerForm.controls['landMark'].touched)">This
                            field is required</span>

                    </div>

                    <div class="form-group">
                        <label>Full Address *</label>
                        <input type="text" formControlName="fullAddress" class="form-control" />
                        <span class="text-danger"
                            *ngIf="registerForm.controls['fullAddress'].hasError('required')&&(registerForm.controls['fullAddress'].dirty || registerForm.controls['fullAddress'].touched)">This
                            field is required</span>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">


                                <label>Choose City *</label>

                                <select class="custom-select" formControlName="city"  (change)="setArea()" >
                                    <option value="">Choose your city</option>
                                    <option *ngFor="let city of City" value={{city.city_id}}>{{city.city_name}}</option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="registerForm.controls['city'].hasError('required')&&(registerForm.controls['city'].dirty || registerForm.controls['city'].touched)">This
                                    field is required</span>


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Search Area *</label>

                                <select class="custom-select" formControlName="area">
                                    <option value="">Choose your Area</option>
                                    <option *ngFor="let ciity of SearchCity" value={{ciity.area_id}}>{{ciity.area_name}}</option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="registerForm.controls['area'].hasError('required')&&(registerForm.controls['area'].dirty || registerForm.controls['area'].touched)">This
                                    field is required</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">


                            <button class="submit">Register</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>