<!-- <div>
  <div class="row">
    <div class="col-md-5">
      <form [formGroup]="angForm" novalidate>

        <div class="form-group">
          <label style="color:darkblue">UserName(Mobile)*</label>
          <input class="form-control" formControlName="name" type="text">
        </div><br />
        <div class="padd"
          *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
          class="alert">
          <div *ngIf="angForm.controls['name'].errors.required" style="color:red">
            Name is required.
          </div><br />
        </div>
        <div class="form-group">
          <label style="color:darkblue">Password*</label>
          <input class="form-control" formControlName="address" type="text">
        </div><br />
        <div
          *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)"
          class="alert">
          <div *ngIf="angForm.controls['address'].errors.required" style="color:red">
            password is required.
          </div><br />
        </div><br />
        <!-- <button type="submit"
                [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success" style="color:darkgreen">
                SUBMIT
            </button> -->
        <!-- <button class="submit" type="submit">SUBMIT</button>


      </form>
    </div>
  </div>
  <br />
</div> -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
<form [formGroup]="angForm" (ngSubmit)="onSubmit()">
    
        
        <div class="form-group">
            <label>Email Address *</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email Address is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        
        
        <div class="form-group">
            <label>Password *</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="col-md-6">
        <button class="submit" type="submit">SUBMIT</button>
      </div>

        <div class="container" style="background-color:#f1f1f1">
            
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>

</form>
            </div>
            </div>
    </div>
</div>