<div col-lg-12>
  <section class="margin-b-30">
    <carousel>
      <slide>
        <img src="../../../assets/img/1.PNG" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
      <slide>
        <img src="../../../assets/img/2.PNG" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
      <slide>
        <img src="../../../assets/img/3.PNG" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
      <slide>
        <img src="../../../assets/img/4.PNG" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
    </carousel>
  </section>
  <br>
  <br>