._1rwo5 {
   position: relative;
   margin-left: 25px;
   background: #fff;
   margin-bottom: 20px;
   padding: 35px 40px 39px;
}

._1rtRz, .F8Sye {
   letter-spacing: -.3px;
}
.F8Sye {
   font-size: 32px;
   font-weight: 600;
   color: #282c3f;
   margin-bottom: 32px;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
}

._2YrH- {
   margin-right: 25px;
   margin-bottom: 25px;
}

._38EYL {
   display: block;
   font-size: 16px;
   color: #7e808c;
   font-weight: 400;
   margin-bottom: 36px;
   margin-top: -30px;
}

.-brc1 {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

._2nd-- {
   position: relative;
   width: 324px;
   margin: 0 25px 25px 0;
   cursor: pointer;
}

._3p8Mf {
   padding: 23px 30px 29px 57px;
   border: 1px solid #e9e9eb;
   display: -ms-flexbox;
   display: flex;
   -ms-flex: 1;
   flex: 1;
}

._3mJDe {
   font-size: 19px;
}


[class*=" icon-"], [class^=icon-] {
   font-family: icomoon;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

._2xgU6 {
   margin-bottom: 4px;
   font-size: 17px;
   font-weight: 500;
   color: #282c3f;
   line-height: 1.18;
   text-transform: capitalize;
}

.KYAcN {
   font-size: 13px;
   color: #93959f;
   margin-bottom: 8px;
   font-weight: 300;
   line-height: 16px;
   height: 64px;
   overflow: hidden;
}

._3w1k- {
   font-size: 13px;
   color: #282c3f;
   font-weight: 500;
   margin: 10px 0 17px;
}

._3dNWs {
   padding: 9px 0;
   color: #fff;
   text-transform: uppercase;
   background: #60b246;
   border: 0;
   cursor: pointer;
   width: 130px;
   height: 34px;
   font-weight: 600;
   text-align: center;
   font-size: 14px;
   letter-spacing: .3px;
   position: relative;
}

.-brc1>:nth-child(2n) {
   margin-right: 0;
}

.WtfuC {
   position: absolute;
   top: 26px;
   left: 30px;
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   font-size: 18px;
   color: #3d4152;
}

._2_VIS {
   position: absolute;
   background: #60b246;
   width: 12px;
   height: 12px;
   color: #fff;
   border-radius: 50%;
   font-size: 10px;
   right: -4px;
   top: -5px;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-align: center;
   align-items: center;
}

._1AS3P {
   border: 1px solid #60b246;
   color: #60b246;
   background: #fff;
   margin-top: 30px;
}

.Ldi91 {
   border-style: dashed;
   height: 150px;
}

._26MRf {
   border-color: #bebfc5;
}
._250uQ {
   position: absolute;
   border-left: 1px dashed #282c3f;
   top: 35px;
   left: -10px;
   bottom: -57px;
}

._2b4pY {
   position: absolute;
   width: 40px;
   height: 40px;
   background-color: #282c3f;
   box-shadow: 0 3px 5px 0 rgba(40,44,63,.4);
   top: 34px;
   left: -30px;
}

._1rwo5:last-child {
   margin-bottom: 0;
}


._1IPhI, ._34Whq {
   cursor: pointer;
}


.C2lmo {
   display: table-cell;
   vertical-align: top;
}
._3za0v {
   width: 15px;
}

._1eJQw {
   border-color: #60b246;
   background-color: #60b246;
   color: #fff;
}
._2C3aj {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid rgba(40,44,63,.3);
   text-align: center;
   color: #bebfc5;
   background-color: #fff;
   transition: all .3s ease;
   position: relative;
}

._1ZSwS {
   font-size: 11px;
   position: absolute;
   top: 2px;
   line-height: 15px;
   left: 4px;
   font-weight: 600;
}

._2zPJt {
   margin-top: 23px;
   position: relative;
}

._1IPhI {
   position: absolute;
   top: -65px;
   right: 0;
   text-transform: uppercase;
   font-weight: 600;
   color: #fc8019;
   line-height: 2.14;
}

._2kejs {
   margin-bottom: 3px;
   font-size: 18px;
   font-weight: 500;
   color: #282c3f;
   text-transform: capitalize;
}

._1QRRt {
   color: #93959f;
   max-width: 480px;
   line-height: 18px;
}

._1__JV {
   color: #282c3f;
   font-size: 13px;
   font-weight: 500;
   margin-top: 15px;
}

._1q8J4 {
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   color: #fff;
   font-size: 20px;
}

.icon-location:before {
   content: "\E911";
}




///////////////////////////////////////////////////////////////////////////////////////////////////@at-root


.graph{
   height: 185px;
   width: 360px;
}


// .days-sidebar {
//    width: 25%;
// }

.days-sidebar li {
   border: 1px solid #ddd;
   background: #edf1f7;
   // border-bottom: 0;
   font-weight: 400;
   font-size: 14px;
   padding: 15px;
   cursor: pointer;
}

li, ol, ul {
   list-style: none;
}

.active{
   background-color: white !important;
   border-right-color: rgb(255, 255, 255) !important;
}

.days-sidebar li.active {
   background-color: #fff;
   // color: #f5861f;
   border-right: 0;
   font-weight: 600;
    color: #282c3f;
    font-size: 18px;
    transition: color .25s ease-in-out;
}


///////////////////////////////////////////////////////////////////////////////////////////////

::ng-deep .bg-info {
   background: linear-gradient(to right,#0375a7, #a3f6ff);
}

::ng-deep .progress {
   width: 65%;
}

.txtmargin{
   margin-top: 22px;
}

.status{
   background-color: #f2f6fc;
   margin: 15px;
}

.bkcolor{
   background: white;
   height: -webkit-fill-available - 105px;
}

.foodpressed{
   position: relative; 
   background-color: #f2f6fc; 
   display: flex; padding: 16px;
    width: 551px;
}
.foodcorrect{
   height: 100%; 
   width: 1px; 
   background-color: #ccc;
   margin-right: 24px;
   margin-left: 24px;
}
.foodearly{
   flex: 1; 
   align-self: center;
}

.foodcorrectcolor{
   background-color: #9078d6;
}
.foodearlycolor{
   background-color: #fbc02d;
}


.foodnotprocessedcolor{
   background-color: #fa4a5b;
}


.food-ready-metrics-legend-red {
   font-size: 12px;
   font-weight: 600;
   color: #cd394b;
}

.food-ready-metrics-legend-dark {
   font-size: 12px;
   font-weight: 600;
   color: #282c3f;
}

.food-ready-metrics-legend-dark {
   font-size: 12px;
   font-weight: 600;
   color: #282c3f;
}

.food-ready-legend-oval {
   height: 8px;
   width: 8px;
   border-radius: 8px;
   display: inline-block;
}

.food-ready-metrics-count-red {
   font-size: 18px;
   font-weight: 700;
   color: #cd394b;
   margin-left: 5px;
}

.food-ready-metrics-count-dark {
   font-size: 18px;
   font-weight: 700;
   color: #282c3f;
   margin-left: 5px;
}

.food-ready-metrics-count-dark {
   font-size: 18px;
   font-weight: 700;
   color: #282c3f;
   margin-left: 5px;
}
.margin_left_15px{
   margin: 0px 0px 0px 15px;
}

a.see-details-text {
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
}

.metrics-section-text {
   font-size: 14px;
   font-weight: 700;
   color: #282c3f;
   text-transform: uppercase;
   margin-right: 14px;
   padding-left: 15px;
}

.top-insight-numerator {
   font-size: 56px;
   font-weight: 500;
   color: #282c3f;
}
.top-insight-denominator {
   font-size: 28px;
   font-weight: 500;
   color: #7e808c;
}

.top-insight-label {
   font-size: 18px;
   font-weight: 700;
   color: #282c3f;
   text-transform: uppercase;
}

.daily-selected-date {
   font-size: 14px;
   font-weight: 700;
   color: #7e808c;
}

.ops-metric-card {
   width: 310px;
   margin-top: 32px;
   margin-left: 36px;
   border-radius: 2px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
   border: .5px solid #d8d8d8;
   position: relative;
   padding: 12px 20px;
   margin-bottom: 21px;
}

.ops-metric-card-label {
   font-size: 16px;
   font-weight: 600;
   color: #282c3f;
   // margin-bottom: 21px;
}

.ops-metric-value {
   font-size: 30px;
   font-weight: 700;
   color: #282c3f;
}

.insights-overview-title {
   font-size: 30px;
   font-weight: 600;
   color: #0d1325;
   padding: 15px 0px 15px 40px;
}

/////////////////////payment @at-root

._2YnKK {
   // min-width: 230px;
   background: #edf1f7;
   // max-width: 245px;
}

._2CcgZ {
   margin-top: -22px;
}

._3oQ0I {
   color: #282c3f;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 25px;
   // text-transform: lowercase;
}

._1l6N3 {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
}

._1glEp {
   font-size: 12px;
   font-weight: 500;
   color: #7e808c;
   white-space: nowrap;
   text-transform: uppercase;
   margin-right: 5px;
}

._1MmkK, ._3Pwwo {
   display: -ms-flexbox;
   display: flex;
}

.hJmle {
   margin-right: 16px;
}

.Z3TrL {
   max-height: 12px;
}
._2POR4 {
   max-height: 14px;
   display: block;
}
img {
   border-style: none;
}

.hJmle {
   margin-right: 16px;
}

.W_wnE {
   padding-top: 10px;
   margin-top: 12px;
}

._1iCrU {
   position: relative;
   overflow: hidden;
}

._3bK7r {
   border-bottom: 0;
}
._3Um38 {
   border: 1px solid #d4d5d9;
   padding: 0;
   display: block;
   position: relative;
   transform: translateZ(0);
}

._381fS {
   background-color: transparent;
   line-height: normal;
   border: none;
   outline: none;
   height: 70px;
   width: 100%;
   font-size: 17px;
   margin: 0;
   padding: 0 20px;
   padding-top: 22px;
   box-shadow: none;
   box-sizing: border-box;
   border-radius: 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-weight: 500;
}

.button, .input, .optgroup, .select, .textarea {
   color: inherit;
   font: inherit;
   margin: 0;
}

.input {
   -webkit-appearance: textfield;
   background-color: white;
   -webkit-rtl-ordering: logical;
   cursor: text;
   padding: 1px;
   border-width: 2px;
   border-style: inset;
   border-color: initial;
   border-image: initial;
}

.input {
   text-rendering: auto;
   color: initial;
   letter-spacing: normal;
   word-spacing: normal;
   text-transform: none;
   text-indent: 0px;
   text-shadow: none;
   display: inline-block;
   text-align: start;
   margin: 0em;
   font: 400 13.3333px Arial;
}


._26LFr {
   -ms-transform: translateY(70%);
   transform: translateY(70%);
}

._1Cvlf {
   position: absolute;
   left: 0;
   bottom: 24px;
   padding-left: 20px;
   line-height: 20px;
   font-size: 17px;
   cursor: text;
   transition: .2s ease;
   width: 100%;
   color: #93959f;
   will-change: transform,color,font-size;
   pointer-events: none;
   font-weight: 400;
}

._1zBWQ {
   // display: -ms-flexbox;
   display: flex;
   // -ms-flex: 1;
   flex: 1;
   // -ms-flex-pack: justify;
   // justify-content: justify;
}
._1iCrU {
   position: relative;
   overflow: hidden;
}

._1zBWQ ._3bK7r {
   border-right: 0;
}
._1TftM {
   width: 60%;
}
._3bK7r {
   border-bottom: 0;
}
._3Um38 {
   border: 1px solid #d4d5d9;
   padding: 0;
   display: block;
   position: relative;
   transform: translateZ(0);
}

._1Cvlf {
   position: absolute;
   left: 0;
   bottom: 24px;
   padding-left: 20px;
   line-height: 20px;
   font-size: 17px;
   cursor: text;
   transition: .2s ease;
   width: 100%;
   color: #93959f;
   will-change: transform,color,font-size;
   pointer-events: none;
   font-weight: 400;
}

._1zBWQ ._3bK7r:last-child {
   border-right: 1px solid #d4d5d9;
}

._1zBWQ ._3bK7r {
   border-right: 0;
}
._3tnke {
   width: 40%;
   -ms-flex: 1;
   flex: 1;
}
._3bK7r {
   border-bottom: 0;
}
._3Um38 {
   border: 1px solid #d4d5d9;
   padding: 0;
   display: block;
   position: relative;
   transform: translateZ(0);
}

._1L6u2 {
   -webkit-text-security: disc;
   -moz-text-security: disc;
}


._1Cvlf {
   position: absolute;
   left: 0;
   bottom: 24px;
   padding-left: 20px;
   line-height: 20px;
   font-size: 17px;
   cursor: text;
   transition: .2s ease;
   width: 100%;
   color: #93959f;
   will-change: transform,color,font-size;
   pointer-events: none;
   font-weight: 400;
}

._1iCrU {
   position: relative;
   overflow: hidden;
}

._1iCrU:last-child ._3bK7r {
   border-bottom: 1px solid #d4d5d9;
}
._3bK7r {
   border-bottom: 0;
}
._3Um38 {
   border: 1px solid #d4d5d9;
   padding: 0;
   display: block;
   position: relative;
   transform: translateZ(0);
}

._2EeI1 {
   position: absolute;
   right: 20px;
   bottom: 26px;
   font-size: 14px;
   font-weight: 500;
   color: #5d8ed5;
   transform: translateZ(0);
   cursor: pointer;
   will-change: transform;
   transition: .2s ease;
}

._1XCQN {
   display: -ms-flexbox;
   display: flex;
   margin: 30px 0;
   width: 100%;
   transform: translateZ(0);
   -ms-flex-align: center;
   align-items: center;
   cursor: pointer;
}
.C2lmo {
   display: table-cell;
   vertical-align: top;
}

._3za0v {
   width: 15px;
}

._1eJQw {
   border-color: #60b246;
   background-color: #60b246;
   color: #fff;
}
.R_dg9 {
   border-radius: 2px;
}
._2C3aj {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid rgba(40,44,63,.3);
   text-align: center;
   color: #bebfc5;
   background-color: #fff;
   transition: all .3s ease;
   position: relative;
}

._1ZSwS {
   font-size: 11px;
   position: absolute;
   top: 2px;
   line-height: 15px;
   left: 4px;
   font-weight: 600;
}
[class*=" icon-"], [class^=icon-] {
   font-family: icomoon;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-tickRound:before {
   content: "\E942";
}

._25G4G {
   margin-left: 15px;
   vertical-align: middle;
   color: #3d4152;
   font-size: 13px;
   font-weight: 300;
}

.m_CzU {
   height: 50px;
   line-height: 50px;
   background: #60b246;
   font-size: 15px;
   margin-bottom: 30px;
}
._2ZJ0s {
   height: 40px;
   line-height: 40px;
   text-align: center;
   padding: 0 16px;
   background: #60b246;
   color: #fff;
   text-transform: uppercase;
   border: 0;
   outline: 0;
   position: relative;
   overflow: hidden;
   font-weight: 600;
   cursor: pointer;
   min-width: 142px;
}

.qkGQR {
   margin: -22px 0 30px;
   color: #93959f;
   font-size: 12px;
}

._3zAnR {
   // display: -ms-flexbox;
   display: flex;
   // -ms-flex-align: center;
   align-items: center;
   height: 70px;
   // position: relative;
   cursor: pointer;
}

modal {
   margin-top: 30px;
   text-align: center;
   height: 100px;
   width: 300px;
   background: red;
   color: #fff;
 }
 
 .a:link, .a:visited {
   background-color: white;
   color: black;
   padding: 15px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border: 1px solid green;
 }
 
 .a:hover, .a:active {
   background-color: green;
 }

 ._1gPB7 {
   height: 50px;
   background-color: #60b246;
   outline: 0;
   cursor: pointer;
   border: 0;
   color: #fff;
   margin-top: 28px;
   text-transform: uppercase;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: center;
   justify-content: center;
   font-size: 16px;
   font-weight: 600;
   width: 200px;
 }

 ._2b4pY1{
   position: absolute;
   width: 40px;
   height: 40px;
   background-color: white;
   box-shadow: 0 3px 5px 0 rgba(40, 44, 63, 0.4);
   top: 34px;
   left: -30px;
}

/////////////////// checkout final cart details

.red{
   border: 1px solid red;
 }
 
 .align{
   text-align: right;
 }
 
 ::ng-deep.background {
   background-color: white !important;
 }
 
 .table {
     width: 100%;
   }
 
   .mat-elevation-z8{
     width: -webkit-fill-available;
   }
  
   .bg_black
   {
       background-color: black;
   }
   .margin_top_5
   {
       margin-top: 5px;
   }
   
   .padding_5
   {
       padding: 5px;
   }
   .notification_style
   {
      color: white;
      font-size: 10px;
   }
  
   .orderCard
   {
      background-color:  white;
   }
   .orderCard_div
   {
      background-color:  #ecf1f6;
      height: -webkit-fill-available;
   }
 
   .menu-body {
     max-width: 1000px;
     margin: 0 auto;
     display: block;
     color: rgb(92, 92, 92);
   }
    
   
    
   .menu-section-title {
     font-family: georgia;
     font-size: 50px;
     display: block;
     font-weight:normal;
     text-align: left;
   }
 
 .menu-section-title h2 b{
   font-family: sans-serif  !important;
   font-size: 16px  !important; 
   font-weight:bold !important;
   text-transform: uppercase;
 }
 
 h2.halfLine{
   display: inline-block;
   position: relative;
 }
 
 h2.halfLine:before{
   content: "";
   border: 1px solid #282c3f;
   padding-bottom: 0px;
   position: absolute;
   width: 35%;
   height: 0px !important;
   bottom: 0;
   left: 0;
 }
 
 .itemStyle{
   font-size: 15px;
   margin-left: 5px;
 }
    
   .menu-item {
     margin: 15px 0;
     font-size: 18px;
   }
    
   .menu-item-name{
     font-family: helvetica;
     font-weight: bold;
     // border-bottom: 1px dotted rgb(213, 213, 213);
   }
    
 .menu-item-name b{
   font-size: 15px  !important; 
   font-weight:normal !important;
   margin-left: 5px;
 }
 
   .menu-item-description {
     // font-style: italic;
     font-size: .9em;
     line-height: 1.5em;
   }
    
   .menu-item-price{
     text-align: center;
     font-weight: bold;
     font-family: arial;
   }
 
   .edit{
     float: right;
     font-weight: bold;
     font-family: arial;
     border-radius: 2px;
   }
 
   .edit a{
     padding: 3px 8px;
     background: #e3e4e8;
     color: #3e4152;
     margin-right:5px;
     font-weight: normal;
     border-radius: 2px;
     font-size: 12px !important;
   }
 
   .edit a:hover{
   text-decoration: none !important;
   }
 
   .a {
     color: black !important;
     font-size: 15px !important;
     margin: 2px !important;
   }
 
   .margin_10px{
     margin: 25px;
   }
  
   .ScrollStyle
 {
     // height:-webkit-fill-available !important;
     max-height: 680px;    
     overflow-y: scroll;
 }
 
 .ScrollStyle1
 {
     // height:-webkit-fill-available !important;
     max-height: 450px;    
     overflow-y: scroll;
 }
 
 .ScrollStyle::-webkit-scrollbar { 
   display: none; 
 }
 
 .ScrollStyle1::-webkit-scrollbar { 
   display: none; 
 }
 
 .category_img{
     width : 15px;
     height : 15px;
 }
 
 .food_img{
   width : 160px;
   height : 80px;
 }
 
 
 .categoryMnuStyle{
   color: #3e4152 !important;
 }
 
 ul.categoryMnuStyle li ::ng-deep a{
   color: #3e4152 !important;
   line-height: 18px;
   cursor: hand;
   display: block;
 }
 
 ul.categoryMnuStyle li ::ng-deep a:hover{
   color: #ec5f00 !important;
   text-decoration: none;
   cursor: pointer;
 }
 
 .mat-slide-toggle.mat-checked .mat-ripple-element {
   background-color: #2eb94c !important;
 }
 
 
 .mat-checkbox-inner-container{
   background-color: #2eb94c !important;
 }
 
 ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
   background-color:#27c24c !important; 
 }
 
 .togglewidth{
 max-width: 50px;
 }
 
 ::ng-deep.modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 995 !important;
   display: none;
   overflow: hidden;
   outline: 0;
 }
 
 ::ng-deep.modal-backdrop {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 990 !important;
   background-color: #000;
 }
 
 .popBtnStyle{
   padding: 12px 7px;
   border: 1px solid #eaeaea;
   float: left;
   border-radius: 3px;
   font-size: 12px !important;
 }
 
 .popBtnStyle_radio{
   padding: 12px 7px;
   border: 1px solid #eaeaea;
   float: left;
   border-radius: 3px;
   font-size: 12px !important;
 }
 .popBtnStyle_radio label{
 margin-bottom: 0px;  
 }
 
 .popBtnStyle_radio input{
   border: none !important;
   }
 
 .pop_01 ::ng-deep.mat-radio-label{
   margin-bottom: 0px !important;
 }
 
 .instructionsTxt{
   clear: both;
   padding: 10px 0 0 0
 }
 
 .editBtn{
   cursor: pointer;
 }
 
 .statusNow{
   font-size: 11px;
   font-weight: 400;
   color: #ec5f00;
 }
 
 .avalTime{
     text-align: center;
     font-size: 11px;
     font-weight: 400;
     color: #ec5f00;
 }
 
 .Fy0A8+.znxoh ._5ZwHn {
   height: calc(100vh - 197px);
 }
 
 ._1srfG, ._5ZwHn {
   margin-top: 21px;
   position: relative;
   position: -webkit-sticky;
   position: sticky;
   top: 150px;
 }
 ._5ZwHn {
   width: 298px;
   padding: 26px 10px 0;
   height: calc(100vh - 392px);
   transition: height .4s ease;
   contain: layout;
 }
 
 ._2uq6N {
   font-size: 24px;
   font-weight: 600;
   padding-bottom: 18px;
 }
 
 ._1XFmX {
   font-weight: 500;
   font-size: 13px;
   color: #686b78;
   text-transform: uppercase;
   padding-top: 2px;
 }
 
 ._1XUXj {
   margin: 0 -10px;
 }
 ._1t-Al {
   display: -ms-flexbox;
   display: flex;
   position: relative;
   overflow-y: hidden;
 }
 
 ._3YMqW {
   position: absolute;
   top: -10px;
   width: 100%;
   box-shadow: 0 2px 4px 0 rgba(40,44,63,.1);
   height: 10px;
   display: none;
 }
 
 ._2qOpI {
   padding: 0 16px 0 15px;
 }
 ._2ObNr {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-positive: 1;
   flex-grow: 1;
   position: relative;
   -ms-flex-direction: column;
   flex-direction: column;
   overflow-y: auto;
   overflow-x: hidden;
 }
 
 ._2zsON {
   height: 0;
 }
 *, :after, :before {
   box-sizing: inherit;
 }
 
 user agent stylesheet
 .div {
   display: block;
 }
 
 .MGAj1 {
   margin-left: -4px;
   margin-right: -6px;
 }
 
 ._2bXOy, ._2MJB6 {
   position: relative;
 }
 ._2bXOy {
   padding: 10px 0;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
 }
 *, :after, :before {
   box-sizing: inherit;
 }
 
 ._3SG03 {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: start;
   align-items: flex-start;
 }
 ._3SG03, ._33KRy {
   -ms-flex-positive: 1;
   flex-grow: 1;
 }
 
 ._2MJB6 {
   font-size: 10px;
   color: #339a33;
   width: 10px;
   height: 10px;
   top: 4px;
 }
 ._2bXOy, ._2MJB6 {
   position: relative;
 }
 
 [class*=" icon-"], [class^=icon-] {
   font-family: icomoon;
   speak: none;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-foodSymbol:before {
   content: "\E944";
 }
 *, :after, :before {
   box-sizing: inherit;
 }
 
 ._3SG03, ._33KRy {
   -ms-flex-positive: 1;
   flex-grow: 1;
 }
 ._33KRy {
   font-size: 14px;
   font-weight: 400;
   margin-left: 10px;
   margin-right: 5px;
 }
 
 ._2bWmk {
   width: 120px;
 }
 *, :after, :before {
   box-sizing: inherit;
 }
 
 .EEeV3 {
   margin-top: 17px;
   min-height: 115px;
 }
 
 ._161V3 {
   color: #3d4152;
   font-size: 15px;
   font-weight: 600;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
 }
 
 ._1DWmI {
   font-size: 17px;
   -ms-flex: 1;
   flex: 1;
 }
 
 ._161V3 {
   color: #3d4152;
   font-size: 15px;
   font-weight: 600;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
 }
 
 ._26NCu {
   font-size: 13px;
   font-weight: 300;
   color: #7e808c;
   margin-top: 2px;
 }
 
 ._1gPB7 {
   height: 50px;
   background-color: #60b246;
   outline: 0;
   cursor: pointer;
   border: 0;
   color: #fff;
   // margin-top: 28px;
   text-transform: uppercase;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: center;
   justify-content: center;
   font-size: 16px;
   font-weight: 600;
 }
 
 ::ng-deep html, body {
   height: 100% !important;
 }
 
 ::ng-deep.maindiv{
   height:-webkit-fill-available !important;
   background:white !important;
 }
 
 ._3PZFF {
   margin-top: 17px;
   padding-bottom: 21px;
   border-bottom: 2px solid #282c3f;
 }
 
 ._3e0Qi {
   font-weight: 600 !important;
   font-size: 14px !important;
   margin-bottom: 10px;
   color: #282c3f;
 }
 
 ._3rlIu {
   font-size: 13px;
   color: #686b78;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
 }
 
 ._2VV4a {
   -ms-flex: 1;
   flex: 1;
 }
 
 ._1DlfY, ._1I8bA {
   text-align: right;
 }
 ._1I8bA {
   -ms-flex-item-align: start;
   align-self: flex-start;
 }
 
 ._3rlIu+._3rlIu {
   margin-top: 10px;
 }
 ._3rlIu {
   font-size: 13px;
   color: #686b78;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
 }
 
 ._3sNvC {
   color: #686b78;
   font-weight: 400;
   margin-left: 7px;
   font-size: 12px;
   position: relative;
   top: 1px;
   display: inline;
   cursor: pointer;
 }
 [class*=" icon-"], [class^=icon-] {
   font-family: icomoon;
   speak: none;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 ._28dQ0 {
   display: none;
   position: absolute;
   top: -15px;
   left: -47.5px;
   transform: translate3d(0,-100%,0);
 }
 
 ._3sNvC {
   color: #686b78;
   font-weight: 400;
   margin-left: 7px;
   font-size: 12px;
   position: relative;
   top: 1px;
   display: inline;
   cursor: pointer;
 }
 
 ._3rlIu {
   font-size: 13px;
   color: #686b78;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
 }
 
 ._1DlfY, ._1I8bA {
   text-align: right;
 }
 ._1I8bA {
   -ms-flex-item-align: start;
   align-self: flex-start;
 }
 
 ._1Accg {
   border-bottom: 1px solid #e9e9eb;
   margin: 17px 0 15px;
 }
 
 ._3rlIu {
   font-size: 13px;
   color: #686b78;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
 }
 
 ._3sNvC {
   color: #686b78;
   font-weight: 400;
   margin-left: 7px;
   font-size: 12px;
   position: relative;
   top: 1px;
   display: inline;
   cursor: pointer;
 }
 
 [class*=" icon-"], [class^=icon-] {
   font-family: icomoon;
   speak: none;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 ._3DPdG {
   height: 0;
 }
 
 .ZBf6d {
   width: 100%;
   height: 60px;
   min-height: 60px;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   font-weight: 600;
   color: #282c3f;
   padding: 0 30px;
   z-index: 1;
   border-top: 2px solid #282c3f;
 }
 
 ._3ZAW1 {
   -ms-flex: 1;
   flex: 1;
   text-align: right;
 }
 
 ._1RPOp {
   color: #60b246;
   width: 100%;
   height: 100%;
   cursor: pointer;
 }
 
 ._3L1X9 {
   display: inline-block;
   height: 30px;
   width: 83px;
   border: 1px solid #d4d5d9;
   color: #60b246;
   font-size: .9rem;
   font-weight: 600;
   line-height: 30px;
   position: relative;
   text-align: center;
   // background-color: #fff;
 }
 
 .container{
   padding-top: 15px !important;
   box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
 }
 
 .description {
   font-size: 10px;
 }
 
 .jTy8b {
   font-size: 16px;
   color: #282c3f;
   font-weight: 500;
   line-height: 20px;
 }
 
 
 ::ng-deep .row{
   font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
 }
 
 ._12lpv {
   color: #535665;
   font-size: 15px;
 }
 
 ._2od4M {
   animation: _1vozQ .2s ease;
 }
 
 ._29Y5Z {
   position: absolute;
   left: 0;
   top: 0;
   width: 33.33333%;
   display: inline-block;
   opacity: 1;
   transform: translateZ(0);
   cursor: pointer;
   font-weight: 600;
   font-size: 1.5rem;
 }
 
 ._29Y5Z:before {
   content: "";
   display: inline-block;
   height: 2px;
   width: 10px;
   background-color: #bebfc5;
   position: relative;
   top: -6px;
 }
 
 ._2zAXs {
   position: absolute;
   left: 33.33333%;
   top: 0;
   width: 33.33333%;
   display: inline-block;
   opacity: 1;
   transform: translateZ(0);
   cursor: pointer;
 }
 
 ._1ds9T {
   position: absolute;
   right: 0;
   top: 0;
   width: 33.33333%;
   display: inline-block;
   opacity: 1;
   transform: translateZ(0);
   cursor: pointer;
   font-size: 150%;
   font-weight: 600;
 }
 
 ._1yTZI {
   float: right;
   // display: -ms-flexbox;
   display: flex;
   // -ms-flex-align: center;
   align-items: center;
 }
 
 
 
 ._29ugw {
     width: 70px!important;
     font-size: 12px!important;
     display: block!important;
     height: 30px;
     border: 1px solid #d4d5d9;
     color: #60b246;
     font-weight: 600;
     line-height: 30px;
     position: relative;
     text-align: center;
     background-color: #fff;
 }
 
 ._1mx0r {
   text-align: right;
   width: 45px;
 }
 
 ._1cl2U {
   background: transparent!important;
 }
 
 .Tqef9 {
   color: #7e808c;
   letter-spacing: -.3px;
   font-size: 32px;
 }
 
 ._1pKFz {
   // font-size: 32px;
   font-weight: 600;
 }
 
 ._1Qxa0 {
   color: #93959f;
   margin-top: 15px;
   font-size: 16px;
   font-weight: 300;
   max-width: 218px;
 }
 
 
 