<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8" style="padding-top: 45px;padding-left: 45px;">
    <div class="_1rwo5 _1Ak49 _34Whq">

      <div class="F8Sye">
        <div class="_2YrH-">Delivery address</div>
      </div>

      <div class="_2zPJt">
        <div class="_1IPhI">Change</div>
        <div class="_2kejs">sss</div>
        <div class="_1QRRt">123, 33rd Main Rd, cc, Mysuru, Karnataka 570012, India</div>
        <div class="_1__JV">33 MINS</div>
      </div>

      <div class="_250uQ"></div>
      <div class="_2b4pY"><span class="_1q8J4 fa fa-map-marker"></span></div>
    </div>

    <div>
      <div class="_1rwo5">
        <div class="F8Sye _1rtRz">
          <div class="_2YrH-">Payment</div>
        </div>
        <div style="display: flex;">
          <div class="days-sidebar">
            <ul>
              <li [ngClass]="dynamicClass1" (click)="report(1)">
                Pay on Delivery
              </li>
              <li [ngClass]="dynamicClass2" (click)="report(2)">
                Credit/Debit Cards
              </li> 
            </ul>
          </div>
          <div class="insights-overview-details-content bkcolor">
            <div class="margin_left_15px">

            </div>
          </div>
        </div>
        <div class="_2b4pY AuX5b">
          <img class="_1q8J4 _1UwKN" src="../../../assets/img/walet.PNG">
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-4 col-sm-4"></div>
</div>