<div>
  <!-- <div class="breadcrumb">
    <a class="active">Browse</a>
    <a>Compare</a>
    <a>Order Confirmation</a>
    <a>Checkout</a>
  </div> -->

  <div class="breadcrumb flat">
    <a class="active">Browse</a>
    <a>Compare</a>
    <a>Order Confirmation</a>
    <a>Checkout</a>
  </div>
</div>
<!-- <script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script> -->

<!-- <br /><br /> -->
<!-- another version - flat style with animated hover effect -->
<!-- <div class="breadcrumb flat">
	<a href="#" class="active">Browse</a>
	<a href="#">Compare</a>
	<a href="#">Order Confirmation</a>
	<a href="#">Checkout</a>
</div> -->